%header
  #logo
    %h1
      =image_tag "logo.png"
  %nav
    %ul
      %li
        %a{href: "#"} Balls
      %li
        %a{href: "#"} Bean Bags
      %li
        %a{href: "#"} Bounce
      %li
        %a{href: "#"} Accessories
      %li
        %a{href: "#"} Cart (0)
.main-content
  .product
    =image_tag "balls_large.jpg"
    .description
      %p One of the brightest juggling balls you’ll ever find! Looks great from a distance or up close. These are made of plastic and hollow inside. They are quite big so they work best for a juggler with large hands.
  .sidebar
    .reviews
      %h3 Customer Reviews
      .review-group
        .avatar
          =image_tag "avatar_1.jpg"
        .review
          %p I thought these were pretty good, I abused them quite a bit and they held up nicely.
      .review-group
        .avatar
          =image_tag "avatar_2.jpg"
        .review
          %p Pretty good, for the price.
    .related-products
      %h3 Related Products
      .related-product
        =image_tag "balls_white.jpg"
      .related-product
        =image_tag "balls_red.jpg"
      .related-product
        =image_tag "balls_blue.jpg"




